body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none !important;
}

hr {
    border-color: #00000012;
}

h1 {
    font-size: 32px;
}

p {
    font-size: 20px;
}

.logo {
    color: #8000FF;
    margin: 20px 0;
}